@font-face {
  font-family: "Futura";
  src: url("../futura/Futura_Extra_Black_font.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "futura";
  font-size: 27px;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}

.color-green {
  color: #00f094;
  font-weight: 800;
}
.color-blue {
  color: #001D3D;
}
.color-grey {
  color:  #A0A9AA;
}
.color-black {
  color: black;
  font-weight: 900;
}
.font-bold {
  font-weight:700;
}
.bg-green {
  /* color:#001D3D; */
  background-color: #00f094;
}
.font-mont {
  font-family: "Montserrat";
  font-size: 18px;
}
.font-shadow {
  font-family: "Shadows Into Light", cursive;
  font-size: 24px;
}

.btn-green {
  background-color: #00f094;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.btn-green:hover {
  background-color: #001D3D;

}

.mg-t {
  padding-top: 120px;
}
.letter-space {
  letter-spacing: 2px;
}

input {
  border: 1px solid #00f094 !important;
  border-radius: 0 !important;
}

input::placeholder {
  color:#A0A9AA !important;
  font-size: 14px;
}

.content {
  position: absolute;
  height: 160px;
  overflow: hidden;
  font-size: 25px;
  line-height: 40px;
  color: white;
  font-family: "futura";
}
.content__container {
  font-weight: 500;
  overflow: hidden;
  height: 40px;
  padding: 0px 40px;
}
.content__container:before {
  content: "[";
  left: 0;
  z-index: 10;
  color: #00f094;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
  z-index: 10;
}
.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #001D3D;
  font-size: 42px;
  line-height: 30px;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 0;
  text-align: center;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* mobile responsaive  */
@media screen and (max-width: 700px) {
  .cafe {
    width: 70%;
  }
  .mg-t {
    padding-top: 70px;
  }
  .content {
    font-size: 18px;
    line-height: 30px;
  }
  .content__container {
   
    padding: 0px 20px;
  }
}

a {
  text-decoration: none !important;
  background-color: #00f094;
  font-size: 25px;
  font-family: 'futura';
  color: white !important;
  margin-right: 5px;
}

.font-size-25 {
  font-size: 30px;
  font-family: 'futura';

}
 
  /* animation logo  */

  .svg-logo {
    animation: fill 4s ease forwards;
  }
  .lettre {
    animation: opacity 4s linear 1s;
  }
  .svg-logo .lettre
   {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation:line-anim 10s 3s ease forwards;
  }
  
  .svg-logo .carre {
    opacity: 0;
    fill: #00f094;
    animation: change-color 12s 2s forwards, appear 3s 2s forwards;
  }
  
  .svg-logo .point {
    opacity: 0;
    fill: #00f094;
    animation: change-color 12s 2s forwards, appearPoint 2s  forwards;
  
  }

  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fill {
    0% {
      fill: transparent;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #001d3d;
    }
  }

   
  @-webkit-keyframes opacity {
    0%
   {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes change-color {
    0%,
    12.66%,
    100% {
      fill: #00f094;
    }
    /* 16.66%, */
    29.32% {
     fill: #fee402;
    }
    /* 33.32%, */
    45.98% {
      fill: #00f094;
    }
  }
  
  @keyframes appearPoint {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .com {
    opacity: 0;
    fill: #00f094;
    animation: appear-com 12s 4.1s forwards;
  }

  .work {
    opacity: 1;
    fill: #fee402;
    /* animation: appear-work 12s 4s forwards; */
  }


  @keyframes appear-com {
    0%,
    12.66%,
    100% {
      fill: #00f094;
      opacity: 1;
    }
    16.66%,
    29.32% {
      opacity: 0;
    }
    33.32%,
    45.98% {
      fill: #00f094;
      opacity: 1;
    }
  }
  @keyframes appear-work {
    0%,
    12.66%,
    100% {
      fill: #00f094;
      opacity: 0;
    }
    16.66%,
    29.32% {
      opacity: 1;
      fill: #fee402;
    }
    33.32%,
    45.98% {
      opacity: 0;
      fill: #00f094;
    }
  }






 
