@font-face {
  font-family: "Futura";
  src: url("../futura/Futura_Extra_Black_font.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "futura";
  font-size: 27px;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}

/* custom  */

.color-green {
  color: #00f094;
  font-weight: 800;
}
.color-blue {
  color: #001d3d;
}
.color-grey {
  color: #a0a9aa;
}
.color-black {
  color: black;
  font-weight: 900;
}
.font-bold {
  font-weight: 700;
}
.bg-green {
  /* color:#001D3D; */
  background-color: #00f094;
}
.font-mont {
  font-family: "Montserrat";
  font-size: 18px;
}
.font-shadow {
  font-family: "Shadows Into Light", cursive;
  font-size: 24px;
}

.btn-green {
  background-color: #00f094;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.btn-green:hover {
  background-color: #001d3d;
}

.mg-t {
  padding-top: 70px;
}
.letter-space {
  letter-spacing: 2px;
}
/*input*/

input {
  border: 1px solid #00f094 !important;
  border-radius: 0 !important;
}

input::placeholder {
  color: #a0a9aa !important;
  font-size: 14px;
}

a {
  text-decoration: none !important;
  background-color: #00f094;
  font-size: 25px;
  font-family: "futura";
  color: white !important;
  margin-right: 5px;
}

.font-size-25 {
  font-size: 30px;
  font-family: "futura";
}

/* animation logo avec video */

.svg-logo-2 {
  opacity: 0;
  animation: appear 1s linear 8s forwards;
}



.svg-logo {
  animation: fill 4s ease forwards;
}
.lettre {
  animation: opacity 4s easer 1s;
}
.svg-logo .lettre {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: line-anim 10s 3s ease forwards;
}

.svg-logo .carre {
  opacity: 0;
  fill: #00f094;
  animation: change-color 12s 2s forwards, appear 3s 2s forwards;
}

.svg-logo .point {
  opacity: 0;
  fill: #00f094;
  animation: change-color 12s 2s forwards, appearPoint 2s forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #001d3d;
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes change-color {
  0%,
  12.66%,
  100% {
    fill: #00f094;
  }
  /* 16.66%, */
  29.32% {
    fill: #fee402;
  }
  /* 33.32%, */
  45.98% {
    fill: #00f094;
  }
}

@keyframes appearPoint {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* video dans texte  */
.wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1000px;
}
.wrapper video {
  width: 100%;
  padding-top: 20px;
  padding-right: 2.5px;
  padding-left: 2px;
  opacity: 0;
  animation: appear 1s linear 9s forwards;
}

.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper svg text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.wrapper svg > .rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.wrapper svg .rect {
  fill: #fff;
  opacity: 0;
  animation: appear 1s linear forwards;
}

/* responsaive  */
@media screen and (max-width: 700px) {
  .cafe {
    width: 70%;
  }
  .mg-t {
    padding-top: 60px;
  }
  .content {
    font-size: 18px;
    line-height: 30px;
  }
  .content__container {
    padding: 0px 20px;
  }
  .justify {
    text-align: justify;
  }
}
@media screen and (max-width: 991px) {
  .mg-t {
    padding-top: 50px;
  }
  img .cafe {
    width: 2px;
  }
}
