@font-face {
  font-family: "Futura";
  src: url("../futura/futura_medium_condensed_bt.ttf");
}
body {
  background-color: white;
}

/* video dans texte  */
.wrapper {
    position: relative;
    width: 100%;
    padding-top: 100px;
    margin: auto;
    max-width: 1000px;
  }
  .wrapper video {
    width: 100%;
  }
  .wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wrapper svg text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
  }
  .wrapper svg > .rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
  }
  .wrapper svg .rect {
    opacity: 0;
    fill: #fff;
  }
 
  .wrapper:before, .wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
  }
  .wrapper:before {
    left: -9px;
  }
  .wrapper:after {
    right: -5px;
  }
  
  /* animation lettre logo  */

  .logo-vec {
    animation: fill 5s ease forwards;
  }
  .lettre {
    animation: opacity 4s linear 1s;
  }
  .logo-vec .lettre-p,
  .logo-vec .lettre-a,
  .logo-vec .lettre-t,
  .logo-vec .lettre-i,
  .logo-vec .lettre-o,
  .logo-vec .lettre-n
   {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation:line-anim 10s 3s ease forwards;
  }
  
  .logo-vec .carre {
    opacity: 0;
    fill: #00f094;
    animation: change-color 12s 4s forwards, appear 3s 2s forwards;
  }
  
  .point {
    opacity: 0;
    fill: #00f094;
    animation: change-color 12s 4s forwards, appearPoint 2s  forwards;
  
  }
  
  @keyframes appearPoint {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes fill {
    0% {
      fill: transparent;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #001d3d;
    }
  }
  

  .position {
    position: relative;
  }
  .content {
    opacity: 0;
    position: absolute;
    top: 39%;
    left: -4%;
    height: 160px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    /* font-size: 45px;
    line-height: 50px; */
    color: #00f094;
    animation: opacity 1s 5s forwards;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 50px; /*hauteur de la fenetre*/
    padding: 20px 40px;
  }
  
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: -20px;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 12s;
    -webkit-animation-delay: 4s;
    animation-name: change;
    animation-duration: 12s;
    animation-delay: 4s;
  }
  .content__container__list__item {
    line-height: 100px;
    font-size: 6rem;
  }
  
  .color-blue {
    color: #00f094;
  }
  .color-yellow {
    color: #fee402;
  }
  
    @-webkit-keyframes opacity {
    0%
   {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes change-color {
    0%,
    12.66%,
    100% {
      fill: #00f094;
    }
    16.66%,
    29.32% {
     fill: #fee402;
    }
    33.32%,
    45.98% {
      fill: #00f094;
    }
    /* 49.98%,
    62.64% {
      fill: #fee402;
    }
    66.64%,
    79.3% {
      fill: #00f094;
    }
    83.3%,
    95.96% {
      fill: #fee402;
    } */
  }

  @keyframes opacity {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%,
    12.66%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
      transform: translate3d(0, -50%, 0);
    }
    /* 49.98%,
    62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
      transform: translate3d(0, -25%, 0);
    } */
  }


  video {
   opacity: 0;
   animation: video-anim 3s 14s forwards;
  }

  .rect {
   opacity: 0;
   animation: video-anim 1s 12s forwards;
  }

  @keyframes video-anim {
    to {
      opacity: 1;
    }
  }


